/* Margins and pagging reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* MOBILE FIRST */
body {
  background-color: var(--color-background);
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

/* Letter types */
h1 {
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  color: var(--color-titles);
}

h2 {
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  color: var(--color-titles);
}

h3 {
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  color: var(--color-titles);
}

h4 {
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  color: var(--color-titles);
}

p {
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  color: var(--color-texts);
}

a {
  color: var(--color-bottons);
  font-weight: var(--font-weight-regular);
  font-size: 10px;
  font-family: var(--font-roboto);
}

/* HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.61vw 11.81vw 0px 11.81vw; /* 170px / 1440px * 100 */
  width: 100vw;
}

header .logo {
  width: auto; 
}

header .menu {
  display: none; /* Oculta el menú en móviles */
  position: fixed;
  top: 30px; 
  right: 10vw; 
  background-color: #fff; 
  padding: 10px; 
}

header .menu ul {
  list-style: none;
  padding: 0px;
}

header .menu ul li {
  margin: 15px 0;
}

header .menu ul li a {
  text-decoration: none;
}

header .menu.active { 
  display:block;
}

header .contact-button {
  display: none;
}

/* Menu con icono de hamburguesa */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger-menu span {
  width: 100%;
  height: 4px;
  background-color: #333; /* Color de las barras */
  border-radius: 5px; /* Esquinas redondeadas para un mejor estilo */
}

/* CONTACT US */
.contact {
    margin: 9.72vw 0px 9.72vw 0px; /* 140px / 1440px * 100 */
    padding: 0px 11.81vw; /* 170px / 1440px * 100 */
}

.contact h1 {
  margin: 0px 0px 0px 0px; /* 30px / 1440px * 100 */
  padding: 6px 0px 80px 0px;
}

.contact p {
  color: var(--color-texts);
  font-size: var(--body-hero-font-size);
}

form input, form textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border:none;
  background-color: #6B708D1A;
  padding: 20px 22px;
  margin: 10px 0px 40px 0px;
}

.contact form .row {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between the two fields */
}

.contact form .field {
  flex: 1; /* Ensures both fields take up equal width */
}

button {
    background-color: var(--color-bottons); /* Ajusta el color principal del botón */
    color: var(--color-rectangle-service);
    border: none;
    border-radius: 0px;
    height: 80px;
    width: 100%; /* Los botones ocupan todo el ancho en móviles */
}
button:hover {
  background-color: #072AC89A; /* Optional: Darker green hover effect */
}

 /* FOOTER */
.footer {
  padding: 3.61vw 11.81vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100vw;
  height: 7.78vw; /* 112px / 1440px * 100 */
  align-items: flex-start;
}

.raw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: var(--color-texts)
    }
  }
}

.leftside p {
  font-size: 12px;
  font-style: normal; 
}


/* TABLETS */
@media (min-width: 500px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  h4 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  /* HEADER */
  header .menu {
    top: 55px;
    right: 11vw;
  }  

  /* CONTACT US */
  .contact form .row {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Adds space between the two fields */
  }


  /* FOOTER */
  .footer {
    padding: 2.08vw 11.81vw; /* 30px 170px 100px / 1440px */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    height: 16.80vw; /* 242px / 1440px * 100 */
    margin: 0px;
    width: 100vw;
  }

  .rightside {
    align-items: flex-end;
  }

  .raw {
    width: 40.20vw;
  }
  
}


/* DESKTOPS */
@media (min-width: 1100px) {

  body {
    width: 100vw;
  }
  h1 {
    font-size: var(--h1-font-size);
    }
    
  h2 {
    font-size: var(--h2-font-size);
  }
    
  h3 {
    font-size: var(--h3-font-size);
  }
    
  h4 {
    font-size: var(--h4-font-size);
  }
  
  p {
    font-size: var(--body-hero-font-size);
  }
  
  a {
    color: var(--color-bottons);
    font-weight: var(--font-weight-regular);
    font-size: var(--headline-text-font-size);
    font-family: var(--font-roboto);
  }

  /* HEADER */
     
  header {
    height: 122px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
  }    
      
  header .logo {
    img {
      width: 60.53px;
      height: 18.46px; 
    }
  }
      
  header .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
    background-color: var(--color-background);
    position: static;
  }
  
  
  header .hamburger-menu {
    display: none;
  }

  header .menu ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 295px;
  }

  header .menu ul li {
    margin: 0;
    align-self: center;
    height: 22px;
  }

  header .menu ul li a {
    color: var(--color-texts);
    font-weight: var(--font-weight-medium);
    height: 22px;
  } 

  header .contact-button {
    display: flex;
    width: 150px;
    height: 52px;
    border-radius: 0%;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-regular);
    font-size: var(--headline-text-font-size);
    font-family: var(--font-roboto);
    background-color: var(--color-bottons);
    color: var(--color-rectangle-service);
    border: none;
  }

  header .contact-button:hover {
    background-color: #072AC89A;
  }

  /* FOOTER */
  .rightside {
    align-items: flex-end;
    justify-content: space-between;
  }

  .raw {
    width: 30.21vw;
    justify-content: space-between;
    
  }
  
  .leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 30.21vw;
    min-width: 350px;
    height: 7.78vw; /* 112px / 1440px * 100 */
  }
  
  .leftside p {
    font-size: var(--headline-text-font-size);
    font-style: normal; 
  }
   .leftside img {
    width: 98.38px;
    height: 30px;
  }
}  