
/* Margins and pagging reset*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

/* Mobile first */
body {
    background-color: var(--color-background); /* Un color neutro de fondo, ajusta según tu diseño */
    color: var(--color-titles); 
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
  }

  /* Letter types */
  h1 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: 24px;
  }
  
  h2 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    color: var(--color-titles);
  }
  
  h3 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
  }
  
  h4 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: 16px;
  }

  p {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    font-size: 12px;
  }

  a {
    color: var(--color-bottons);
    font-weight: var(--font-weight-regular);
    font-size: 10px;
    font-family: var(--font-roboto);
  }

  /* HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  
  header .logo {
    flex: 1;
    width: auto; /* 120 px? Ajusta al tamaño que tenga el logo */
  }
  
  header .menu {
    display: none; /* Oculta el menú en móviles, usaremos un icono de hamburguesa */
  }

  header .menu ul {
    list-style: none;
    padding: 0px;
  }
  
  header .menu ul li {
    margin: 15px 0;
  }
  
  header .menu ul li a {
    text-decoration: none;
  }

  header .menu.active {
    display:block;
  }

  header .contact-button {
    display: none;
  }
  /* Estilos del icono de hamburguesa */
  /* Icono de hamburguesa con tres líneas */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  
  .hamburger-menu span {
    width: 100%;
    height: 4px;
    background-color: #333; /* Color de las barras */
    border-radius: 5px; /* Esquinas redondeadas para un mejor estilo */
  }
  
  
/*HERO SECTION */
 
  .buttonA, .buttonB {
      background-color: var(--color-bottons); /* Ajusta el color principal del botón */
      color: var(--color-rectangle-service);
      border: none;
      border-radius: 5px;
      width: 100%; /* Los botones ocupan todo el ancho en móviles */
  }
  



.images-heroSection img:nth-child(1),
.images-heroSection img:nth-child(2),
.images-heroSection img:nth-child(3) {
    display: none; /* Hide the second and third images on mobile */
}



/* CLIENT LOGOS */
.clientSection {
    margin-top: 0px;
    padding: 10px 0;
}

.clientLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  /*   overflow-x: auto; Allows scrolling on small screens */
    white-space: nowrap;
    padding: 5px 5px;
}

.clientLogos img {
    height: auto; /* Keep logos uniform */
    width: 13vw;
    filter: grayscale(100%); /* Optional: Make logos gray */
}


/* PROJECTS SECTION */

.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 5px;
    h {
      display: flex;
      justify-content: left;
    }
}

.projectCards {
    display: flex;
    flex-direction: row;   
    overflow-x: auto; /* Allows scrolling on small screens */
    white-space: nowrap;
    padding: 5px 5px;
    gap: 10px;
    width: 90%; 
}

.projectCard {
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 150px;
    p {
      display: flex;
      word-break: break-word;
      white-space: normal;
      align-self: center; 
    }
    img {
      width: 150px;
      height: 105.88px;
      margin-bottom: 10px;
    }
    button {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: auto;
      width: 130px;
      margin-bottom: 10px;
      align-self: center;
    }
  }
/* TESTIMONIAL SECTION */
.TestimonialSection {
    padding: 20px 20px;
    text-align: center;
    background-color: #292E47;
    color: var(--color-text-white);
    position: relative;
    display: flex;
    flex-direction: column;
      
    
}
.yellow-text {
  color: var(--color-yellow-questions);
  font-weight: var(--font-weight-medium);
 
}
.client1 {
  color:var(--color-client1);
  
}
.source {
  font-size: 10px;
}
.TestimonialSection .TestimonialBackground {
    background-image: url('../projectAssets/testimonial-section/orbit.png');
    background-size: cover; /* Adjust background size */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
.TestimonialSection div {
    margin-bottom: 20px;
}

.TestimonialSection img { 
    width: 100%;
    height: auto;
    display: block;

}

.TestimonialSection .client-info {
  display: column;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: left;
  display: flex;
  flex-direction: column;
}


.TestimonialSection .client-info img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 20px
}


.TestimonialSection .emojis img {
    display: none;
}


/* SERVICE SECTION */
.serviceSection {
  padding: 50px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.serviceSection .services {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Allows scrolling on small screens */
  white-space: nowrap;
  padding: 5px 0px;
  gap: 10px;
  width: 90%; 
}

.serviceSection .serviceCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  background-color: var(--color-rectangle-service);
  width: 190px;
  height: 212px;
  gap: 1px;
  p {
    white-space: normal; 
    word-break: break-word;
  }
  div {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 49.6%;
    background-color: var(--color-neutral-lightBlue);

    img {
      display: flex;
      align-self: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }
  a {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start; 
  }
}

/* CTA section */
.CTASection div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow-questions);
  gap: 15px;
  padding: 30px 0px;
}
.CTASection form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  border-radius: 5px;
  width: 90vw;
}

.CTASection input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  
}

.CTASection button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.CTASection button:hover {
  background-color: green;
}

/* FOOTER */
.footer {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.footer div ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  li {
    list-style: none;
    height: 15px;
  }
}

.footer p {
  font-size: 12px;
  font-style: italic;
}





  /* Tablets */
  @media (min-width: 400px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Desktops */
  @media (min-width:500px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: var(--h1-font-size);
  }
  
  h2 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-font-size);
  }
  
  h3 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: var(--h3-font-size);
  }
  
  h4 {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-bold);
    font-size: var(--h4-font-size);
  }

  p {
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    font-size: var(--caption-1-font-size);
  }
  a {
    color: var(--color-bottons);
    font-weight: var(--font-weight-regular);
    font-size: var(--headline-text-font-size);
    font-family: var(--font-roboto);
  }

   
    header {
      height: 122px;
      width: 100vw;
      display: flex;
      justify-content: space-between;

      align-self: center;
      padding: 0px;
      position: relative;
      margin: 0px;
    }
    
    header .logo {
      position: absolute;
      left: 170.64px;
      top: 86.91px;
      img {
        width: 60.53px;
        height: 18.46px; 
      }
    }
    
    header .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 2;
      margin-top: 85px
    }


    header .hamburger-menu {
      display: none;
    }

    header .menu ul {
      display: flex;
      flex-direction: row;
      gap: 60px;
      width: 295px;
    }

    header .menu ul li {
      margin: 0;
      align-self: center;
      height: 22px;
      
     }

    header .menu ul li a {
      color: var(--color-texts);
      font-weight: var(--font-weight-medium);
      height: 22px;
    }
  
    
  
    header .contact-button {
      display: flex;
      width: 150px;
      height: 52px;
      border-radius: 0%;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 170.65px;
      top: 70px;
      margin: 0px 0px;
      padding: 0px 0px;
      font-weight: var(--font-weight-regular);
      font-size: var(--headline-text-font-size);
      font-family: var(--font-roboto);
      background-color: var(--color-bottons);
      color: var(--color-rectangle-service);
      border: none;
    }
  
  
    /* HERO SECTION */

    .heroSection {
      padding: 0px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      }
    .texts-heroSection {
      margin-bottom: 0px;
      margin-top: 0px;
      max-width: 100%;
      padding: 170px 109px;
      
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0px;
      
    }

    .images-heroSection img:nth-child(1) {
      display: block;
      width: 570px; 
      height: 637px;
      transform: rotate(-1.39deg);
      position: absolute;
      top: 0px;
      left: 700px;
    }
    .images-heroSection img:nth-child(2) {
      display: flex;
      width: 190px;
      /* height: 216px; */
      position: absolute;
      top: 25px;
      left: 700px;
    }
    .images-heroSection img:nth-child(3) {
      display: flex;
      width: 190px;
      /* height: 193px; */
      position: absolute;
      top: 457px;
      right: 170px;
    }
    
    .buttonA {
      border: none;
      border-radius: 0px;
      width: 150px;
      height: 52px;
  }
  
  .buttonB {
      background-color: var(--color-background); /* Ajusta el color principal del botón */
      color: var(--color-botton-letters-dark);
      border: none;
      border-radius: 0px;
      width: 150px;
      height: 52px;
  }

    
    
    
    .serviceSection .serviceCard {
      padding: 1px 10px 5px 5px;
      background-color: var(--color-rectangle-service);
      width: 340px;
      height: 380px;
      img {
        width: 80px;
        height: 80px;
      }
    }

  }